// Navigation code here
.nav-header {
  background: lighten(@shuttle-gray, 55%);
  
  .nav {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
  
    .nav-items {
      .navigationStyling();
    }
  
    .nav-links {
      font-size: 1.6rem;
      text-decoration: none;
      color: @main-font-color;
    }
  
    h1 {
      font-size: 3.6rem;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
    }
  }
}
